.redes__lista{
    display: flex;
    margin-top: 1rem;
}

@media screen and (min-width:0) {
    .redes__lista{
        justify-content: center;
    }

}
@media screen and (min-width: 780px) {
    .redes__lista{
        justify-content: end;
    }

}