footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f9f9f9;
    padding: 0 10px;
}
footer h5{
    font-size: 1.3em;
    color: rgb(87, 87, 175);
}


footer .icone{
    display: flex;
    justify-content: center;
    margin-top: 15px;
   
}
