.menu__link {
    color: #003141;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1587rem;
    font-weight: bold;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link.ativo{
    color: #D3AB7B;
} 
   
.menu__link:hover {
    color: #D3AB7B;
    text-decoration: underline;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}