

@media screen and (min-width:0) {
    .sorteio__imagem {
        
        width: 80%;
        
    }
}

@media screen and (min-width:780px) {
    .sorteio__imagem {
        width:  45%;
    }
}

@media screen and (min-width:992px) {
    .sorteio__imagem {
        width: 40%;
   }
}