.conheca{ 
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

@media screen and (min-width:0) {
    .conheca{
        flex-direction: column;
        padding: 1rem;
    }
}
@media screen and (min-width:780px) {
    .conheca{
        flex-direction: row;
    }
}
